@model ProfileVM
@{
    ViewData["Title"] = "Profile";
}
@inject ILayoutService layoutService

@{
    IEnumerable<Category> categories = await layoutService.GetCategories();
}
<main class="main-profile">
    <div class="top">
        <div class="container">
            <div class="category-links">
                <ul class="owl-carousel owl-category-slider main-category-list">
                    @foreach (Category category in categories)
                    {
                        <li class="category-item">
                            <div class="category-title">
                                @Html.Raw(category.Icon)
                                <span>@category.Name</span>
                            </div>
                            <div class="category-content">
                                <div class="content-products">
                                    @if (category.Children != null && category.Children.Count() > 0)
                                    {
                                        @foreach (Category child in category.Children)
                                        {
                                            <ul class="content-product-list">
                                                <a class="content-header">Smartfonlar</a>
                                                @if (child.Products != null && child.Products.Count() > 0)
                                                {
                                                    @foreach (Brand brand in child.Products.Where(p => p.CategoryId == child.Id).Select(p => p.Brand).Distinct().ToList())
                                                    {
                                                        <li class="content-body"><a class="content-body-link">@brand.Name</a></li>
                                                    }
                                                }

                                            </ul>
                                        }

                                    }

                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
        <div class="bottom">
            <div class="container">
                <h1>Profil səhifəm</h1>
                <div class="content">
                    <div class="tab-btns">
                    <button class="tab-btn @(TempData["Tab"]?.ToString() == "Order" ? "active" : "")" data-origin="2">Məhsullarım</button>
                        <button class="tab-btn @(TempData["Tab"]?.ToString() == "Setting" ? "active" : "")" data-origin="3">Tənzimləmələr</button>
                    <button class="tab-btn @(TempData["Tab"]?.ToString() == "Account" ? "active" : "")" data-origin="4">Şəxsi Məlumatlar</button>
                    </div>
                    <div class="tab-contents">
                    <div class="tab-layout products @(TempData["Tab"]?.ToString() == "Order" ? "active" : "")" data-target="2">
                            <div class="product-btns">
                                <button class="product-btn active" data-orgn="1">Nağd alışlarda</button>
                                <button class="product-btn" data-orgn="2">Kredit</button>
                                <button class="product-btn" data-orgn="3">Taksit</button>
                            </div>
                            <div class="product-contents">
                                <div class="product-layout active" data-trgt="1">
                                    <div class="cash-orders">
                                        
                                    <table class="table table-bordered w-100">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>No</th>
                                                <th>Full Name</th>
                                                <th>Created At</th>
                                                <th>Total Price</th>
                                                <th>Status</th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Orders != null && Model.Orders.Count() > 0)
                                            {
                                                foreach (Order order in Model.Orders)
                                                {
                                                    <tr data-toggle="collapse" data-target="#demo@(order.Id)" class="accordion-toggle">
                                                        <td>@order.No</td>
                                                        <td>@($"{order.Name} {order.SurName}")</td>
                                                        <td>@order.CreatedAt?.ToString("dd MMM yyyy")</td>
                                                        <td>$@order.OrderItems.Sum(oi => oi.Price * oi.Count)</td>
                                                        <td>@order.Status</td>
                                                        <td>@order.Comment</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6" class="hiddenRow">
                                                            <div class="accordian-body collapse" id="demo@(order.Id)">
                                                                <table class="table table-bordered w-100">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="name">Name</th>
                                                                            <th class="status">Price</th>
                                                                            <th class="total">Count</th>
                                                                            <th class="action">Total</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (OrderItem orderItem in order.OrderItems)
                                                                        {
                                                                            <tr>
                                                                                <td>@orderItem.Product.Title</td>
                                                                                <td>@orderItem.Price</td>
                                                                                <td>@orderItem.Count</td>
                                                                                <td>@(orderItem.Count * orderItem.Price)</td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div class="product-layout" data-trgt="2">
                                    <div class="credit-orders">
                                        <ul class="table-list custom-table">
                                            <li class="list-head">
                                               <p class="li-item">Müqavilə Nömrəsi</p>
                                               <p class="li-item">Məhsul</p>
                                               <p class="li-item">Vitrin Qiyməti</p>
                                               <p class="li-item">Satış Qiyməti</p>
                                               <p class="li-item">Sifariş Tarixi</p>
                                            </li>
                                         </ul>
                                    </div>
                                </div>
                                <div class="product-layout" data-trgt="3">
                                    <div class="taksit-orders">
                                        <ul class="table-list custom-table">
                                            <li class="list-head">
                                               <p class="li-item">Müqavilə Nömrəsi</p>
                                               <p class="li-item">Məhsul</p>
                                               <p class="li-item">Vitrin Qiyməti</p>
                                               <p class="li-item">Satış Qiyməti</p>
                                               <p class="li-item">Sifariş Tarixi</p>
                                            </li>
                                         </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-layout settings @(TempData["Tab"]?.ToString() == "Setting" ? "active" : "")" data-target="3">
                            <div class="content">
                                @await Html.PartialAsync("_AccountFormPartial", Model.AccountVM)
                            </div>
                        </div>
                    <div class="tab-layout personalinfo @(TempData["Tab"]?.ToString() == "Account" ? "active" : "")" data-target="4">
                            <div class="content">
                                <h1 class="personal-title">Şəxsi Məlumatlar</h1>
                                @await Html.PartialAsync("_SettingFormPartial", Model.SettingVM)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

