@model List<BasketVM>

<div class="bottom">
    <div class="container">
        <h1>Səbətim</h1>
        <div class="content">
            <div class="main">
                <div class="row">
                    <div class="left col-lg-8 col-sm-12 col-12">
                        <div class="content-cards-div">
                            @foreach (BasketVM basketVM in Model)
                            {
                                <div class="basket-card">
                                    <div class="basket-image-div">
                                        <img class="basket-image" src="~/assets/images/@basketVM.Image" alt="">
                                    </div>
                                    <div class="basket-card-info">
                                        <div class="basket-card-top">
                                            <div class="basket-card-title">
                                                <p>@basketVM.Brand</p>
                                                <span>@basketVM.Title</span>
                                            </div>
                                            <div class="basket-card-delete-btn">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </div>
                                        </div>
                                        <div class="basket-card-bottom">
                                            <div class="count-input">
                                                <button class="btn_decrease">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <input disabled="" value="@basketVM.Count" type="text" class="item_count ng-untouched ng-pristine">
                                                <button class="btn_increase">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                            <span>@basketVM.Price <small>AZN</small></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="right col-lg-4 col-sm-12 col-12">
                        <div class="count-content">
                            <div class="count">
                                <p>Məhsul sayı</p>
                                <span>@(Model.Sum(b => b.Count))</span>
                            </div>
                            <div class="count">
                                <p>Çatdırılma </p>
                                <span>0 azn</span>
                            </div>
                            <div class="count">
                                <p>Toplam Ödəniş</p>
                                <span>@(Model.Sum(b => b.Price * b.Count)) azn</span>
                            </div>
                        </div>
                        <a class="direct" href="">Alış verişə davam et</a>
                        <a class="direct link" href="">Sifarişi Tamamla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>