@model IEnumerable<Campaign>
@{
    ViewData["Title"] = "Index";
}

<div class="main-campaign">
    <div class="container">
        <div class="content">
            <h1>Kampaniya və Aksiyalar</h1>
            @if(Model != null && Model.Count() > 0)
            {
                @foreach(Campaign campaign in Model)
                {
                    <div class="campaign-content">
                        <div class="campaign-info">
                            <div class="info-img">
                                <img alt="" src="~/assets/images/campaigns/@campaign.Image">
                            </div>
                            <div class="info">
                                <div class="title">
                                    <h6>@campaign.Title</h6>
                                    <p class="date">@campaign.EndDate</p>
                                    <div class="text">
                                        @Html.Raw(campaign.Desc)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="campaign-details">
                            <h3>Kampaniya Müddəti</h3>
                            <div class="campaign-time">
                                <p>@campaign.Title</p>
                                <span>@campaign.EndDate</span>
                            </div>
                            <div class="timer">
                                <ul>
                                    <li>
                                        <span class="days">28</span>
                                        <p>gün </p>
                                    </li>
                                    <li>
                                        <span class="line hours">8</span>
                                        <p>saat</p>
                                    </li>
                                    <li>
                                        <span class="minutes">43</span>
                                        <p>dəqiqə</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

